
$color-small: rgb(182, 182, 182);
$color-strike: rgb(153, 153, 153);

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin small {
    color: $color-small;
    font-size: small;
    margin-bottom: 3%;  
}
@mixin cercle {
    margin-right: 10px; 
}
@mixin hover {
    :hover{
        -webkit-text-stroke-color: black;
    }
}
@mixin size {
    font-size: 12px;
    text-decoration: none;
    background-color: rgb(194, 194, 194);
    padding: 1px 5px 1px 5px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 45%;
    @include cercle();
}
@mixin articlele {
    h5{
        margin-top: 5%;
        margin-bottom: 3%;
    }
    p{
        strike{
            color: $color-strike;
        }
    }
}
@mixin title_article {
    text-align: center;
    h2{
        font-size: 25px;
        margin-top: 5%;
        margin-bottom: 2%;
    }
}
@mixin webkit($fill-color) {
    -webkit-text-fill-color: $fill-color;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  rgb(194, 194, 194);
}
@mixin page {
    text-align: center;
    margin-top: 2%;
}
$black: #222;
$grey: #999;
$orange: #f68773;
$banner-top: #F2EDE9;

@mixin flex($type, $x, $y) {
    display: $type;
    justify-content: $x;
    align-items: $y;
}

@mixin position($type, $top, $right, $bottom, $left) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

body{
    font-family: 'Roboto', sans-serif;
}

//header

header {
    padding: 5vh; 
    height: 25px;
    border-bottom: 0.5px solid rgb(197, 197, 197);
    position: relative;
    .logo {
        @include position(absolute, 5.5vh, 0, 0, 5%);
        display: block;

    }
    .navig {
        @include position(absolute, 5vh, 0, 0, 22%);
        p {
            @include flex(inline-flex, center, center);
            width: 80px;
            height: 40px;
            a{
                text-decoration: none;
                color: black; 
            }  
        }
    }    
    .search {
        @include position(absolute, 5vh, 0, 0, 65%);
        @include flex(inline-flex, center, center);
        width: 200px;
        height: 40px;
        input {
            width: 200px;
            height: 40px;
            border-radius: 25px;
            padding: 0 40px 0 15px;
            border: 1px solid black;
            &:focus {
                outline: none;
            }
        }
        i {
            @include position(absolute, 50%, 0, 0, 85%);
            transform: translateY(-30%);
            font-size: 0.8em;
        }
    }
    .icon {
        @include position(absolute, 5vh, 0, 0, 85%);
        .icons {
            @include flex(inline-flex, center, center);
            width: 40px;
            height: 40px;
        }
    }
}

// main

main{
    max-width: 60%;
    margin: 0 auto;
}
#entête{
    margin: 40px 0% 2% 0%;
    display: flex;
    justify-self: start;
    h4{
        color: rgb(148, 148, 148);       
    }
    ul{
        li{
            list-style-type: disc;
            margin-left: 30px;
        }  
    } 
}
#product{
    display: grid;
    grid-template-columns: 1fr 1fr; //518.91px;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: 
            "sac prix"
            "miniature category";
    .sac{
        grid-area: sac; 
        display: flex; 
        position: relative;
        margin: 5%;
        .fleche{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0%;
            padding: 0%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            left: 450px;
            top: 275px;

        }
        img{
            width: 100%; //518.91px;
            height: 100%; //477.25px;
            align-self: center;
        }
    }
    .prix{
        grid-area: prix;
        margin: 5%;
        .container{
            width: 100%;
            height: 100%;
            .star{
                margin-bottom: 3%;
                display: flex;
                justify-content: start;
                .checked {
                    color: orange;
                } 
                .NO{
                    color: rgb(173, 173, 173);
                }
                .small{
                    @include small();
                    margin-bottom: 0;
                    margin-left: 2%;
                }
            }
            .serial-number{
                @include small()
            }
            h1{
                font-size: x-large;
                margin-bottom: 3%;   
            }  
            .price{
                color: black;
                margin-bottom: 5%;
                margin-top: 2%;
                font-size: large;
                strike{
                    color: $color-strike;
                }
            }
            p{
                color: rgb(131, 130, 130);
                margin-bottom: 5%;
            }
            h3{
                color: grey;
                font-size: medium;
                margin-bottom: 3%;
            }
            .color{
                display: flex;
                margin-bottom: 5%;
                .blue{
                    a{
                        @include webkit(rgb(87, 51, 245));
                        @include cercle();
                        @include hover;
                    }  
                }     
                .jaune{
                    a{
                        @include webkit(rgb(245, 209, 51));
                        @include cercle();
                        @include hover;
                    }  
                }
                .rose{
                    a{
                        @include webkit(rgb(245, 51, 109));
                        @include cercle();
                        @include hover;
                    } 
                }
            }
            .size{
                display: flex;
                margin-bottom: 5%;
                .S{ 
                    a{
                        @include size();
                        &:hover{
                            border: 1px solid black;
                        }
                    }
                }
                .M{  
                    a{
                        @include size();
                        &:hover{
                            border: 1px solid black;
                        }
                    }
                }
                .L{ 
                    a{
                        @include size();
                        &:hover{
                            border: 1px solid black;
                        }
                    } 
                }
            }
            .buy{
                margin-top: 8%;
                margin-bottom: 0%;
                padding-bottom: 0%;
                padding: 0%;
                display: grid;
                grid-template-columns: 1fr 3fr 0.5fr;
                grid-template-rows: 40px 40px;
                grid-template-areas: 
                        "quantity add_card like"
                        "buy_now buy_now buy_now";
                grid-column-gap: 5px;
                grid-row-gap: 20px;
                .quantity{
                    grid-area: quantity;
                    border: 2px solid grey;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 5%;
                    padding-left: 5%;
                    .minus{
                        a{
                            color: rgb(180, 180, 180);
                            :hover{
                                color: black;
                            }
                        }  
                    }
                    .plus{
                        a{
                            color: rgb(180, 180, 180);
                            :hover{
                                color: black;
                            }
                        } 
                    }
                }
                .add_card{
                    grid-area: add_card;
                    background-color: black;
                    @include display;
                    &:hover{
                        background-color: rgb(88, 88, 88);
                    }
                    a{
                        color: white;
                        text-decoration: none;          
                    }
                }
                .like{
                    grid-area: like;
                    border: 2px solid grey;
                    @include display;
                    a{
                        -webkit-text-fill-color: white;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: black;
                        &:hover{
                            -webkit-text-fill-color: black;
                        }
                    } 
                }
                .buy_now{
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    grid-area: buy_now;
                    background-color: black;
                    @include display;
                    &:hover{
                        background-color: rgb(88, 88, 88);
                    }
                    a{
                        color: white;
                        text-decoration: none;     
                    }
                }
            }

        }
    }
    .miniature{
        grid-area: miniature;
        display: flex;
        justify-content: space-between;
        margin: 0% 10% 2% 10%;
        .face{ 
            img{
                width: 90px;
                height: 90px;
                filter: opacity(50%); 
                -webkit-filter: opacity(50%);
                &:hover{ 
                    filter: opacity(100%);
                    -webkit-filter: opacity(100%); 
                }
            }   
        }
    }  
    .HTAG{
        padding-top: 5%;
        margin: 0px 5% 5% 5%;
        border-top: solid 2px rgb(194, 192, 192);
        grid-area: category;
        .category{
            display: flex;
            justify-content: start;
            margin-bottom: 3%;
            p{
                margin-left: 2%;
            }
        }
        .tag{
            display: flex;
            justify-content: start;
            margin-bottom: 7%;
            p{
                margin-left: 2%;
            }
        }
        .reseau{
            display: flex;
            justify-self: start;
            a{
                margin-right: 2%;
                img{
                    width: 20px;
                    height: 20px;
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    &:hover{
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);
                        -moz-filter: grayscale(0%);
                        -ms-filter: grayscale(0%);
                        -o-filter: grayscale(0%);
                    }
                }
            }   
        }
    }
}

.bar_menu{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 3% 30% 3% 30%;
    color: rgb(141, 141, 141);
    h3{
        &:hover{
            color: black;
        }
    }
}

#information{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 2fe 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas: 
            "introduction shoes"
            "features shoes"
            "vide shoes";
    .shoes{
        grid-area: shoes;
    }
    .introduction{
        grid-area: introduction;
        margin-right: 10%;
        h2{
            font-size: 25px;
            margin-bottom: 3%;
        }
        p{
            line-height: 30px;
            color: rgb(130, 130, 130);
        }
    }
    .features{
        grid-area: features;
        margin-right: 10%;
        h2{
            font-size: 25px;
            margin-bottom: 3%;
        }
        ul{
            list-style: disc;
            margin-left: 5%;
            line-height: 30px;
            color: rgb(130, 130, 130);
        }
    }
}

#related_products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.1fr 0.2fr 1fr 0.1fr;
    grid-template-areas: 
            "product product product product"
            "cotton_sweater glitter embroidered floral"
            "page page page page"
            "upsell upsell upsell upsell"
            "oversize  metallic suede striped"
            "page2 page2 page2 page2";
    .product{
        grid-area: product;
        @include title_article();
    }
    .cotton_sweater{
        grid-area: cotton_sweater;
        @include articlele();
        
    }
    .glitter{
        grid-area: glitter;
        @include articlele();
    }
    .embroidered{
        grid-area: embroidered;
        @include articlele();
    }
    .floral{
        grid-area: floral;
        @include articlele();
    }
    .page{
        grid-area: page;
        @include page();
    }
    .upsell{
        grid-area: upsell;
        @include title_article();
    }
    .oversize{
        grid-area: oversize;
        @include articlele();
    }
    .metallic{
        grid-area: metallic;
        @include articlele();
    }
    .suede{
        grid-area: suede;
        @include articlele();
    }
    .striped{
        grid-area: striped;
        @include articlele();
    }
    .page2{
        grid-area: page2;
        @include page();
    }
}

//footer

footer {
    @include flex(flex, space-between, flex-start);
    flex-wrap: wrap;
    align-content: space-between;
    margin: 15vh 20vw 10vh;
    height: 40vh;
    .big {
        width: 19vw;
    }
    .media, .card {
        text-align: center;
        font-size: 1.5em;
    }
    div {
        width: 10vw;
        p, i {
            padding: 10px 0;
            color: $grey;
            font-size: 0.9em;
            i {
                padding-right: 15px;
            }
        }
        h4 {
            padding-bottom: 15px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}







