
$color-small: rgb(182, 182, 182);

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin small {
    color: $color-small;
    font-size: small;
    margin-bottom: 3%;  
}
@mixin cercle {
    margin-right: 10px; 
}
@mixin hover {
    :hover{
        -webkit-text-stroke-color: black;
    }
}
@mixin size {
    font-size: 12px;
    text-decoration: none;
    background-color: rgb(194, 194, 194);
    padding: 1px 5px 1px 5px;
    border-radius: 45%;
    @include cercle();
 
}


body{
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 60%;
    margin: 0 auto;
}



#entête{
    margin: 2% 0% 2% 0%;
    display: flex;
    justify-self: start;
    p{
        .home{
            color: rgb(148, 148, 148);
        }    
    }
}

#product{
    display: grid;
    grid-template-columns: 518.91px 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: 
            "sac prix"
            "miniature category";

    .sac{
        grid-area: sac; 
        display: flex; 
        img{
            width: 518.91px;
            height: 477.25px;
            align-self: center;
        }
    }

    .prix{
        grid-area: prix;
        margin: 5%;
        .star{
            margin-bottom: 3%;
            display: flex;
            justify-content: start;

            .checked {
                color: orange;
            } 
            .NO{
                color: rgb(173, 173, 173);
            }

            .small{
                @include small();
                margin-bottom: 0;
                margin-left: 2%;
            }
  
        }

        .serial-number{
            @include small()
        }

        h1{
            font-size: x-large;
            margin-bottom: 3%;
            
        }

  
        .price{
            color: black;
            margin-bottom: 5%;
            margin-top: 2%;
            font-size: large;
            strike{
                color: rgb(153, 153, 153);
            }
        }

        p{
            color: rgb(131, 130, 130);
            margin-bottom: 5%;
        }

        h3{
            color: grey;
            font-size: medium;
            margin-bottom: 3%;
        }

        .color{
            display: flex;
            margin-bottom: 5%;
            .blue{
                a{
                    -webkit-text-fill-color: rgb(87, 51, 245);
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: rgb(194, 194, 194);
                    @include cercle();
                    @include hover;
                }  
            }          
               
            .jaune{
                a{
                    -webkit-text-fill-color:rgb(245, 209, 51);
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color:  rgb(194, 194, 194);
                    @include cercle();
                    @include hover;
                }  
            }
            .rose{
                a{
                    -webkit-text-fill-color: rgb(245, 51, 109);
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: rgb(194, 194, 194);
                    @include cercle();
                    @include hover;
                } 
            }
        }

        .size{
            display: flex;
            margin-bottom: 5%;
            .S{ 
                a{
                    @include size();
                }
                
            }
            .M{  
                a{

                    @include size();
                }
                
            }
            .L{ 
                a{
                    @include size();
                }
                
            }
        }

        .buy{
            margin-top: 8%;
            margin-bottom: 0%;
            padding-bottom: 0%;
            display: grid;
            grid-template-columns: 1fr 3fr 0.5fr;
            grid-template-rows: 40px 40px;
            grid-template-areas: 
                    "quantity add_card like"
                    "buy_now buy_now buy_now";
            grid-column-gap: 5px;
            grid-row-gap: 20px;
            .quantity{
                grid-area: quantity;
                border: 2px solid grey;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 5%;
                padding-left: 5%;
                .minus{
                    a{
                        color: rgb(180, 180, 180);
                        :hover{
                            color: black;
                        }
                    }  
                }
                .plus{
                    a{
                        color: rgb(180, 180, 180);
                        :hover{
                            color: black;
                        }
                    } 
                }
            }
            .add_card{
                grid-area: add_card;
                background-color: black;
                @include display;
                a{
                    color: white;
                    text-decoration: none;
                    :hover{
                        background-color: rgb(88, 88, 88);
                    }
                }
            }
            .like{
                grid-area: like;
                border: 2px solid grey;
                @include display;
                a{
                    -webkit-text-fill-color: white;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                    :active{
                        -webkit-text-fill-color: black;
                    }
                } 
            }
            .buy_now{
                grid-area: buy_now;
                background-color: black;
                @include display;
                a{
                    color: white;
                    text-decoration: none;
                    :hover{
                        background-color: rgb(88, 88, 88);
                    }
                }
            }
        }
    }
    .miniature{
        grid-area: miniature;
        display: flex;
        justify-content: space-between;
        margin: 0% 10% 2% 10%;
        img { 
            width: 90px;
            height: 90px;
            filter: opacity(50%); 
            -webkit-filter: opacity(50%);
            img:hover { 
                filter: opacity(100%);
                -webkit-filter: opacity(100%); 
            }
        } 

    }  
    .HTAG{
        padding-top: 5%;
        margin: 0px 5% 5% 5%;
        border-top: solid 2px rgb(194, 192, 192);
        grid-area: category;
        .category{
            display: flex;
            justify-content: start;
            margin-bottom: 3%;
            p{
                margin-left: 2%;
            }
        }
        .tag{
            display: flex;
            justify-content: start;
            margin-bottom: 7%;
            p{
                margin-left: 2%;
            }
        }
        .reseau{
            display: flex;
            justify-self: start;
            a{
                margin-right: 2%;
                img{
                    width: 20px;
                    height: 20px;
                }
            }   
        }
    }
}

.bar_menu{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 3% 30% 3% 30%;
    color: rgb(141, 141, 141);
    h3{
        :hover{
            color: black;
        }
    }
}

.information{
    
}












