.countdown {
    padding-left: 20vw;
    padding-top: 10vh;
    height: 70vh;
    width: 100%;
    background-image: url(../images/deals_image.jpg);
    background-size: cover;
    .deal {
    color: $grey;
            font-size: 16px;
            font-weight: 300;
            padding: 10px 0;
    }
    h4 {
        font-weight: bold;
        font-size: 2em;
        padding: 10px 0;
    }
    .price {
        font-size: 16px;
        font-weight: 300;
        padding: 10px 0;
        span {
            text-decoration: line-through;
            color: $grey;
            padding-left: 10px;
        }
    }
    .discount {
        @include flex(inline-flex, center, center);
        margin: 10px 0 40px;
        background-color: $orange;
        border-radius: 3px;
        width: 80px;
        height: 20px;
        color: white;
        font-weight: bold;
    }
    .stock {
        @extend .discount;
        background-color: green;
        margin-left: 10px;
    }
    .timer {
        height: 50px;
        @include flex(flex, flex-start, center);
        p {
            @include flex(flex, center, center)
            width: 90px;
            height: 50px;
            background-color: white;
            color: $grey;
            
        }
    }
    .numbers {
        @extend .timer;
        font-size: 40px;
        p {
            color: black;
        }
    }
    a {
        @include stylink();
        color: black;
        display: block;
        width: 78px;
        margin: 6vh 0;
    }
}


@media (max-width: 768px) {
    .countdown {
        background-image: url(../images/deals_image.jpg);
        background-size: cover;
        background-size: 100vh 100vw;
    }
}

@media (max-width: 500px) {
    .countdown {
        height: auto;
        padding-left: 8vw;
        padding-bottom: 5vh;
        h4 {
            font-size: 1.7em;
        }
    }
}