header {
    padding: 5vh; 
    background-image: url(../images/abc.jpg);
    background-size: cover;
    height: 90vh;
    position: relative;
    .navig {
        @include position(absolute, 5vh, 0, 0, 20%)
        p {
            @include flex(inline-flex, center, center)
            width: 80px;
            height: 40px;
        }
    }    
    .logo {
        @include position(absolute, 5vh, 0, 0, 5%)
        display: block;
        width: 80px;
        height: 40px;
    }
    .search {
        @include position(absolute, 5vh, 0, 0, 65%);
        @include flex(inline-flex, center, center)
        width: 200px;
        height: 40px;
        input {
            width: 200px;
            height: 40px;
            border-radius: 25px;
            padding: 0 40px 0 15px;
            border: none;
            &:focus {
                outline: none;
            }
        }
        i {
            @include position(absolute, 50%, 0, 0, 85%);
            transform: translateY(-30%);
            font-size: 0.8em;
        }
    }
    .icon {
        @include position(absolute, 5vh, 0, 0, 85%)
        .icons {
            @include flex(inline-flex, center, center)
            width: 40px;
            height: 40px;
        }
    }
    .social-media {
        @include position(absolute, 50vh, 0, 0, 3%);
        transform: translateY(-30%);
        .social-medias {
            @include flex(flex, center, center)
            width: 40px;
            height: 30px;
            i {
                color: $grey;
            }
        }
    }
    .trio {
        @include position(absolute, 25vh, 0, 0, 65%)
        width: 20vw;
        p {
            color: $orange;
            font-size: 14px;
        }
        h4 {
            font-size: 90px;
            color: $black;
            margin: 1vh 0 5vh 0;
        }
        a {
            @include stylink();
        }
    }
}
