@mixin flex($type, $x, $y) {
    display: $type;
    justify-content: $x;
    align-items: $y;
}

@mixin position($type, $top, $right, $bottom, $left) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin more() {
    a {
        font-weight: bold;
        color: $black;
        border-bottom: solid 2px $black;
        font-size: 12px;
    }
}

@mixin triso($px) {
    width: 15vw;
    p {
        font-size: $px;
        font-weight: bold;
    }
    h4 {
        font-size: 12;
        color: $grey;
        padding: 2vh 0;
    }
    @include more();
}