@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

header {
  padding: 5vh;
  background-image: url(../images/abc.jpg);
  background-size: cover;
  height: 25px;
  position: relative; }
  header .logo {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 5%;
    display: block;
    width: 80px;
    height: 40px; }
  header .navig {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 20%; }
    header .navig p {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 40px; }
      header .navig p a {
        color: black; }
  header .nav-hamburger {
    display: none; }
  header .search {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 65%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px; }
    header .search input {
      width: 200px;
      height: 40px;
      border-radius: 25px;
      padding: 0 40px 0 15px;
      border: 1px solid #bebebe; }
      header .search input:focus {
        outline: none; }
    header .search i {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 85%;
      transform: translateY(-30%);
      font-size: 0.8em; }
  header .icon {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 85%; }
    header .icon .icons {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black; }
    header .icon .open-hamburger {
      opacity: 0; }
  header .social-media {
    position: absolute;
    top: 50vh;
    right: 0;
    bottom: 0;
    left: 3%;
    transform: translateY(-30%); }
    header .social-media .social-medias {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 30px; }
      header .social-media .social-medias i {
        color: #999; }
  header .trio {
    position: absolute;
    top: 25vh;
    right: 0;
    bottom: 0;
    left: 65%;
    width: 20vw; }
    header .trio p {
      color: #f68773;
      font-size: 14px; }
    header .trio h4 {
      font-size: 90px;
      color: #222;
      margin: 1vh 0 5vh 0; }
    header .trio a {
      font-weight: bold;
      color: #222;
      border-bottom: solid 2px #222;
      font-size: 12px; }

@media (max-width: 1024px) {
  header {
    background-position-y: right;
    background-repeat: no-repeat; }
    header .navig, header .search {
      display: none; }
    header .nav-hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -5vh;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: white;
      opacity: 0;
      position: fixed;
      z-index: -2; }
      header .nav-hamburger p {
        padding: 3vh;
        font-size: 40px; }
      header .nav-hamburger .close-hamburger {
        font-size: 60px;
        padding-top: 0; }
    header .logo {
      position: absolute;
      top: 5vh;
      right: 0;
      bottom: 0;
      left: 5%;
      display: block;
      width: 120px;
      height: 60px; }
    header .icon {
      position: absolute;
      top: 6vh;
      right: 0;
      bottom: 0;
      left: 60%; }
      header .icon .icons {
        font-size: 1.7em;
        padding: 0 25px; }
      header .icon .open-hamburger {
        opacity: 1; }
    header .social-media {
      position: absolute;
      top: 75vh;
      right: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center; }
    header .trio {
      position: absolute;
      top: 25vh;
      right: 0;
      bottom: 0;
      left: 15%;
      width: 20vw; }
      header .trio p {
        color: #f68773;
        font-size: 14px; }
      header .trio h4 {
        font-size: 90px;
        color: #222;
        margin: 1vh 0 5vh 0; }
      header .trio a {
        font-weight: bold;
        color: #222;
        border-bottom: solid 2px #222;
        font-size: 12px; } }

@media (max-width: 500px) {
  header .logo {
    width: 80px;
    height: 40px; }
  header .icon {
    position: absolute;
    top: 4.5vh;
    right: 5vw;
    bottom: auto;
    left: auto; }
    header .icon .icons {
      font-size: 1em;
      padding: 0 15px; }
  header .nav-hamburger p {
    font-size: 25px; }
  header .nav-hamburger .close-hamburger {
    font-size: 50px; }
  header .trio {
    position: absolute;
    top: 25vh;
    right: 0;
    bottom: 0;
    left: 15%;
    width: 30vw; }
    header .trio p {
      color: #f68773;
      font-size: 14px; }
    header .trio h4 {
      font-size: 70px;
      color: #222;
      margin: 1vh 0 5vh 0; }
    header .trio a {
      font-weight: bold;
      color: #222;
      border-bottom: solid 2px #222;
      font-size: 12px; } }

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 15vh 20vw 10vh;
  height: 40vh; }
  footer div {
    width: 10vw; }
    footer div a, footer div p, footer div i {
      padding: 10px 0;
      color: #999;
      font-size: 0.9em; }
      footer div a i, footer div p i, footer div i i {
        padding-right: 15px; }
      footer div a:hover, footer div p:hover, footer div i:hover {
        color: black; }
      footer div a .big cpr, footer div p .big cpr, footer div i .big cpr {
        color: #999; }
    footer div h4 {
      padding-bottom: 15px;
      font-size: 16px;
      font-weight: bold; }
  footer .big {
    width: 19vw; }
  footer .media, footer .card {
    text-align: center;
    font-size: 1.5em; }

@media (max-width: 500px) {
  footer {
    margin: 5vh 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 15vh 15vw 10vh;
    height: 40vh; }
    footer div {
      width: 30vw;
      text-align: center; }
      footer div a, footer div p, footer div i {
        padding: 10px 0;
        color: #999;
        font-size: 0.9em; }
        footer div a i, footer div p i, footer div i i {
          padding-right: 15px; }
      footer div h4 {
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: bold; }
    footer .big, footer .disap {
      display: none; }
    footer .spr, footer .cpr {
      padding: 5vh 0;
      width: 80vw;
      display: block; } }

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0%; }

main {
  margin-left: 20%;
  margin-right: 20%; }

#product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.4fr;
  grid-template-areas: "tête tête"  "sac prix" "miniature category"; }
  #product .entête {
    grid-area: tête;
    margin: 40px 0% 2% 0%;
    display: flex;
    justify-self: start; }
    #product .entête h4 {
      color: #949494; }
    #product .entête ul li {
      list-style-type: disc;
      margin-left: 30px; }
  #product .sac {
    grid-area: sac;
    display: flex;
    position: relative;
    margin: 5% 0% 5% 0%; }
    #product .sac .fleche {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0%;
      padding: 0%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      left: 475px;
      top: 294px; }
      #product .sac .fleche:hover {
        background-color: black;
        -webkit-text-fill-color: white; }
    #product .sac img {
      max-width: 650px;
      max-height: 588px;
      align-self: center; }
  #product .prix {
    grid-area: prix;
    margin: 5%; }
    #product .prix .container {
      width: 100%;
      height: 100%; }
      #product .prix .container .star {
        padding-top: 2%;
        height: 15px;
        margin-bottom: 3%;
        display: flex;
        justify-content: start; }
        #product .prix .container .star .checked {
          color: orange; }
        #product .prix .container .star .NO {
          color: #adadad; }
          #product .prix .container .star .NO:hover {
            color: orange; }
        #product .prix .container .star .small {
          color: #6e6e6e;
          font-size: small;
          margin-bottom: 3%;
          margin-left: 2%;
          margin-top: 1.5%;
          line-height: 0px; }
    #product .prix .serial-number {
      color: #6e6e6e;
      font-size: small;
      margin-bottom: 3%; }
    #product .prix h1 {
      font-size: 40px;
      margin-bottom: 3%; }
    #product .prix .price {
      color: black;
      margin-bottom: 5%;
      margin-top: 3%;
      font-size: x-large; }
      #product .prix .price del {
        color: #999999; }
    #product .prix p {
      color: #838282;
      margin-bottom: 5%;
      line-height: 30px;
      font-size: 20px; }
    #product .prix h3 {
      color: grey;
      font-size: medium;
      margin-bottom: 3%; }
    #product .prix .color {
      display: flex;
      margin-bottom: 7%; }
      #product .prix .color .blue a {
        -webkit-text-fill-color: #5733f5;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #c2c2c2;
        margin-right: 10px; }
        #product .prix .color .blue a :hover {
          -webkit-text-stroke-color: black; }
      #product .prix .color .jaune a {
        -webkit-text-fill-color: #f5d133;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #c2c2c2;
        margin-right: 10px; }
        #product .prix .color .jaune a :hover {
          -webkit-text-stroke-color: black; }
      #product .prix .color .rose a {
        -webkit-text-fill-color: #f5336d;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #c2c2c2;
        margin-right: 10px; }
        #product .prix .color .rose a :hover {
          -webkit-text-stroke-color: black; }
    #product .prix .size {
      display: flex;
      margin-bottom: 5%; }
      #product .prix .size .S a {
        color: #6e6e6e;
        font-weight: 800;
        font-size: 12px;
        text-decoration: none;
        background-color: #c2c2c2;
        padding: 1px 5px 1px 5px;
        border: 1px solid #c2c2c2;
        border-radius: 45%;
        margin-right: 10px; }
        #product .prix .size .S a:hover {
          border: 1px solid black; }
      #product .prix .size .M a {
        color: #6e6e6e;
        font-weight: 800;
        font-size: 12px;
        text-decoration: none;
        background-color: #c2c2c2;
        padding: 1px 5px 1px 5px;
        border: 1px solid #c2c2c2;
        border-radius: 45%;
        margin-right: 10px; }
        #product .prix .size .M a:hover {
          border: 1px solid black; }
      #product .prix .size .L a {
        color: #6e6e6e;
        font-weight: 800;
        font-size: 12px;
        text-decoration: none;
        background-color: #c2c2c2;
        padding: 1px 5px 1px 5px;
        border: 1px solid #c2c2c2;
        border-radius: 45%;
        margin-right: 10px; }
        #product .prix .size .L a:hover {
          border: 1px solid black; }
    #product .prix .buy {
      margin-top: 8%;
      margin-bottom: 0%;
      padding-bottom: 0%;
      padding: 0%;
      display: grid;
      grid-template-columns: 1fr 3fr 0.5fr;
      grid-template-rows: 40px 40px;
      grid-template-areas: "quantity add_card like" "buy_now buy_now buy_now";
      grid-column-gap: 5px;
      grid-row-gap: 20px; }
      #product .prix .buy .quantity {
        grid-area: quantity;
        border: 2px solid #bebebe;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5%;
        padding-left: 5%; }
        #product .prix .buy .quantity .minus a {
          color: #b4b4b4; }
          #product .prix .buy .quantity .minus a:hover {
            color: black; }
        #product .prix .buy .quantity .plus a {
          color: #b4b4b4; }
          #product .prix .buy .quantity .plus a:hover {
            color: black; }
      #product .prix .buy .add_card {
        grid-area: add_card;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        #product .prix .buy .add_card:hover {
          background-color: #585858; }
        #product .prix .buy .add_card a {
          color: white;
          text-decoration: none; }
      #product .prix .buy .like {
        grid-area: like;
        border: 2px solid #bebebe;
        display: flex;
        justify-content: center;
        align-items: center; }
        #product .prix .buy .like a {
          -webkit-text-fill-color: white;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black; }
          #product .prix .buy .like a:hover {
            -webkit-text-fill-color: black; }
      #product .prix .buy .buy_now {
        margin-bottom: 0px;
        padding-bottom: 0px;
        grid-area: buy_now;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        #product .prix .buy .buy_now:hover {
          background-color: #585858; }
        #product .prix .buy .buy_now a {
          color: white;
          text-decoration: none; }
  #product .miniature {
    grid-area: miniature;
    display: flex;
    justify-content: space-between;
    margin: 0% 10% 2% 10%; }
    #product .miniature .face img {
      width: 90px;
      height: 90px;
      filter: opacity(50%);
      -webkit-filter: opacity(50%); }
      #product .miniature .face img:hover {
        filter: opacity(100%);
        -webkit-filter: opacity(100%); }
  #product .HTAG {
    padding-top: 5%;
    margin: 0px 5% 5% 5%;
    border-top: solid 2px #c2c0c0;
    grid-area: category; }
    #product .HTAG .category {
      display: flex;
      justify-content: start;
      margin-bottom: 3%; }
      #product .HTAG .category p {
        margin-left: 2%; }
    #product .HTAG .tag {
      display: flex;
      justify-content: start;
      margin-bottom: 7%; }
      #product .HTAG .tag p {
        margin-left: 2%; }
    #product .HTAG .reseau {
      display: flex;
      justify-self: start; }
      #product .HTAG .reseau a {
        margin-right: 2%; }
        #product .HTAG .reseau a img {
          width: 20px;
          height: 20px;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%); }
          #product .HTAG .reseau a img:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            -o-filter: grayscale(0%); }

.bar_menu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  padding: 3% 30% 3% 30%; }
  .bar_menu a {
    color: #8d8d8d; }
    .bar_menu a:hover {
      color: black; }

#information {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-areas: "introduction shoes" "features shoes" "vide shoes"; }
  #information .shoes {
    grid-area: shoes; }
  #information .introduction {
    grid-area: introduction;
    margin-right: 10%; }
    #information .introduction h2 {
      font-size: 25px;
      margin-bottom: 3%; }
    #information .introduction p {
      line-height: 30px;
      color: #828282; }
  #information .features {
    grid-area: features;
    margin-right: 10%; }
    #information .features h2 {
      font-size: 25px;
      margin-bottom: 3%; }
    #information .features ul {
      list-style: disc;
      margin-left: 5%;
      line-height: 30px;
      color: #828282; }

#related_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.1fr 0.2fr 1fr 0.1fr;
  grid-template-areas: "product product product product" "cotton_sweater glitter embroidered floral" "page page page page" "upsell upsell upsell upsell" "oversize  metallic suede striped" "page2 page2 page2 page2"; }
  #related_products .product {
    grid-area: product;
    text-align: center; }
    #related_products .product h2 {
      font-size: 25px;
      margin-top: 5%;
      margin-bottom: 2%; }
  #related_products .cotton_sweater {
    grid-area: cotton_sweater;
    margin-left: auto;
    margin-right: auto; }
    #related_products .cotton_sweater h5 {
      margin-top: 5%;
      margin-bottom: 3%; }
    #related_products .cotton_sweater p del {
      color: #999999; }
    #related_products .cotton_sweater .cotton1 {
      max-width: 270px;
      max-height: 270px;
      align-self: center;
      position: relative; }
      #related_products .cotton_sweater .cotton1 img {
        width: 100%;
        height: 100%; }
      #related_products .cotton_sweater .cotton1 .transition {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity 1s ease; }
        #related_products .cotton_sweater .cotton1 .transition:hover {
          opacity: 1; }
  #related_products .glitter {
    grid-area: glitter;
    margin-left: auto;
    margin-right: auto; }
    #related_products .glitter h5 {
      margin-top: 5%;
      margin-bottom: 3%; }
    #related_products .glitter p del {
      color: #999999; }
    #related_products .glitter .glitter1 {
      max-width: 270px;
      max-height: 270px;
      align-self: center;
      position: relative; }
      #related_products .glitter .glitter1 img {
        width: 100%;
        height: 100%; }
      #related_products .glitter .glitter1 .transition {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity 1s ease; }
        #related_products .glitter .glitter1 .transition:hover {
          opacity: 1; }
  #related_products .embroidered {
    grid-area: embroidered;
    margin-left: auto;
    margin-right: auto; }
    #related_products .embroidered h5 {
      margin-top: 5%;
      margin-bottom: 3%; }
    #related_products .embroidered p del {
      color: #999999; }
    #related_products .embroidered .embroidered1 {
      max-width: 270px;
      max-height: 270px;
      align-self: center;
      position: relative; }
      #related_products .embroidered .embroidered1 img {
        width: 100%;
        height: 100%; }
      #related_products .embroidered .embroidered1 .transition {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity 1s ease; }
        #related_products .embroidered .embroidered1 .transition:hover {
          opacity: 1; }
  #related_products .floral {
    grid-area: floral;
    margin-left: auto;
    margin-right: auto; }
    #related_products .floral h5 {
      margin-top: 5%;
      margin-bottom: 3%; }
    #related_products .floral p del {
      color: #999999; }
    #related_products .floral .floral1 {
      max-width: 270px;
      max-height: 270px;
      align-self: center;
      position: relative; }
      #related_products .floral .floral1 img {
        width: 100%;
        height: 100%; }
      #related_products .floral .floral1 .transition {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity 1s ease; }
        #related_products .floral .floral1 .transition:hover {
          opacity: 1; }
  #related_products .page {
    grid-area: page;
    text-align: center;
    margin-top: 2%; }
  #related_products .upsell {
    grid-area: upsell;
    text-align: center; }
    #related_products .upsell h2 {
      font-size: 25px;
      margin-top: 5%;
      margin-bottom: 2%; }
  #related_products .oversize {
    grid-area: oversize;
    margin-left: auto;
    margin-right: auto; }
    #related_products .oversize h5 {
      margin-top: 5%;
      margin-bottom: 3%; }
    #related_products .oversize p del {
      color: #999999; }
    #related_products .oversize .oversize1 {
      max-width: 270px;
      max-height: 270px;
      align-self: center;
      position: relative; }
      #related_products .oversize .oversize1 img {
        width: 100%;
        height: 100%; }
      #related_products .oversize .oversize1 .transition {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity 1s ease; }
        #related_products .oversize .oversize1 .transition:hover {
          opacity: 1; }
  #related_products .metallic {
    grid-area: metallic;
    margin-left: auto;
    margin-right: auto; }
    #related_products .metallic h5 {
      margin-top: 5%;
      margin-bottom: 3%; }
    #related_products .metallic p del {
      color: #999999; }
    #related_products .metallic .metallic1 {
      max-width: 270px;
      max-height: 270px;
      align-self: center;
      position: relative; }
      #related_products .metallic .metallic1 img {
        width: 100%;
        height: 100%; }
      #related_products .metallic .metallic1 .transition {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity 1s ease; }
        #related_products .metallic .metallic1 .transition:hover {
          opacity: 1; }
  #related_products .suede {
    grid-area: suede;
    margin-left: auto;
    margin-right: auto; }
    #related_products .suede h5 {
      margin-top: 5%;
      margin-bottom: 3%; }
    #related_products .suede p del {
      color: #999999; }
    #related_products .suede .suede1 {
      max-width: 270px;
      max-height: 270px;
      align-self: center;
      position: relative; }
      #related_products .suede .suede1 img {
        width: 100%;
        height: 100%; }
      #related_products .suede .suede1 .transition {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity 1s ease; }
        #related_products .suede .suede1 .transition:hover {
          opacity: 1; }
  #related_products .striped {
    grid-area: striped;
    margin-left: auto;
    margin-right: auto; }
    #related_products .striped h5 {
      margin-top: 5%;
      margin-bottom: 3%; }
    #related_products .striped p del {
      color: #999999; }
    #related_products .striped .striped1 {
      max-width: 270px;
      max-height: 270px;
      align-self: center;
      position: relative; }
      #related_products .striped .striped1 img {
        width: 100%;
        height: 100%; }
      #related_products .striped .striped1 .transition {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity 1s ease; }
        #related_products .striped .striped1 .transition:hover {
          opacity: 1; }
  #related_products .page2 {
    grid-area: page2;
    text-align: center;
    margin-top: 2%; }

@media screen and (min-width: 1450px) and (max-width: 1700px) {
  #related_products {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.1fr 0.2fr 1fr 1fr 0.1fr;
    grid-template-areas: "product product product" "cotton_sweater glitter embroidered" "floral floral floral" "page page page" "upsell upsell upsell" "oversize  metallic suede" "striped striped striped" "page2 page2 page2"; }
    #related_products .floral {
      margin: 0% auto; }
    #related_products .striped {
      margin: 0% auto; } }

@media screen and (max-width: 1449px) {
  #product .sac .fleche {
    left: 270px;
    top: 250px; }
  #product .sac img {
    width: 500px;
    height: 500px; }
  #product .prix .buy {
    margin-top: 8%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 40px 40px 40px;
    grid-template-areas: "quantity like" "add_card add_card" "buy_now buy_now";
    grid-column-gap: 5px;
    grid-row-gap: 20px; }
  #related_products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.1fr 0.2fr 1fr 1fr 0.1fr;
    grid-template-areas: "product product" "cotton_sweater glitter" "embroidered floral" "page page" "upsell upsell" "oversize  metallic" "suede striped" "page2 page2";
    grid-column-gap: 30px;
    grid-row-gap: 20px; } }

@media screen and (max-width: 1024px) {
  main {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%; }
  #product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.2fr 1fr 0.4fr;
    grid-template-areas: "tête"  "sac" "miniature" "prix" "category"; }
    #product .sac {
      display: flex;
      justify-content: center; }
      #product .sac .fleche {
        top: 300px;
        left: 500px; }
    #product .prix .buy {
      margin-top: 8%;
      margin-bottom: 0%;
      padding-bottom: 0%;
      padding: 0%;
      display: grid;
      grid-template-columns: 1fr 3fr 0.5fr;
      grid-template-rows: 40px 40px 40px;
      grid-template-areas: "quantity add_card like" "buy_now buy_now buy_now";
      grid-column-gap: 5px;
      grid-row-gap: 20px; }
  .bar_menu {
    padding: 3% 10% 3% 10%; }
  #information {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr;
    grid-template-areas: "shoes"  "introduction" "features"; }
    #information .shoes {
      display: flex;
      justify-content: center; }
    #information .introduction {
      margin-right: 0%;
      margin-top: 5%; }
      #information .introduction p {
        text-align: justify; }
    #information .features {
      margin-right: 0%;
      margin-top: 5%;
      margin-bottom: 5%; } }

@media screen and (max-width: 500px) {
  main {
    max-width: 100%;
    margin: 0px; }
  #product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.2fr 1fr 0.4fr;
    grid-template-areas: "tête" "sac" "miniature" "prix" "category"; }
    #product .entête {
      margin-left: 5%; }
    #product .sac {
      display: flex;
      justify-content: center; }
      #product .sac .fleche {
        left: 275px;
        top: 125px; }
      #product .sac img {
        width: 300px;
        height: 300px; }
    #product .miniature {
      display: flex;
      flex-wrap: wrap; }
  .bar_menu {
    padding: 3% 10% 3% 10%; }
  #information {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr;
    grid-template-areas: "shoes"  "introduction" "features"; }
    #information .shoes img {
      width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto; }
    #information .introduction {
      margin-right: 5%;
      margin-left: 5%; }
    #information .features {
      margin-right: 5%;
      margin-left: 5%; }
  #related_products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 0.1fr 0.2fr 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: "product " "cotton_sweater" "glitter" "embroidered" "floral" "page" "upsell" "oversize" "metallic" "suede" "striped" "page2";
    grid-column-gap: 30px;
    grid-row-gap: 20px; } }
