@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

header {
  padding: 5vh;
  background-image: url(../images/abc.jpg);
  background-size: cover;
  height: 90vh;
  position: relative; }
  header .trio {
    position: absolute;
    top: 25vh;
    right: 0;
    bottom: 0;
    left: 65%; }
  header .logo {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 5%;
    display: block;
    width: 80px;
    height: 40px; }
  header .navig {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 20%; }
    header .navig p {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 40px; }
  header .search {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 65%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px; }
    header .search input {
      width: 200px;
      height: 40px;
      border-radius: 25px;
      padding: 0 40px 0 15px;
      border: none; }
      header .search input:focus {
        outline: none; }
    header .search i {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 85%;
      transform: translateY(-30%);
      font-size: 0.8em; }
  header .icon {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 85%; }
    header .icon .icons {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px; }
  header .social-media {
    position: absolute;
    top: 50vh;
    right: 0;
    bottom: 0;
    left: 3%;
    transform: translateY(-30%); }
    header .social-media .social-medias {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 30px; }
      header .social-media .social-medias i {
        color: #999; }
  header .trio {
    width: 20vw; }
    header .trio p {
      color: #f68773;
      font-size: 14px; }
    header .trio h4 {
      font-size: 90px;
      color: #222;
      margin: 1vh 0 5vh 0; }
    header .trio a {
      font-weight: bold;
      color: #222;
      border-bottom: solid 2px #222;
      font-size: 12px; }

.discover {
  position: relative;
  height: 40vh;
  width: 100%; }
  .discover .flex-container {
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .discover .flex-container img {
      width: 33.33333%;
      height: 100%; }
  .discover .trio-1, .discover .trio-2, .discover .trio-3 {
    z-index: 2;
    position: absolute;
    top: 22%;
    right: 0;
    bottom: 0;
    left: 3%;
    width: 16vw; }
    .discover .trio-1 p, .discover .trio-2 p, .discover .trio-3 p {
      font-size: 14px; }
    .discover .trio-1 h4, .discover .trio-2 h4, .discover .trio-3 h4 {
      font-size: 50px;
      color: #222;
      margin: 1vh 0 3vh 0; }
    .discover .trio-1 a, .discover .trio-2 a, .discover .trio-3 a {
      font-weight: bold;
      color: #222;
      border-bottom: solid 2px #222;
      font-size: 12px; }
  .discover .trio-2 {
    text-align: center;
    position: absolute;
    top: 22%;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    .discover .trio-2 p, .discover .trio-2 h4 {
      color: white; }
    .discover .trio-2 a {
      color: white;
      border-bottom: solid 3px white; }
  .discover .trio-3 {
    position: absolute;
    top: 22%;
    right: 0;
    bottom: 0;
    left: 85%; }

.top {
  height: 155vh;
  position: relative; }
  .top h2 {
    padding: 15vh 0 1vh 40vh;
    font-size: 2em; }
  .top h3 {
    padding-left: 20vw;
    font-size: 1em;
    font-weight: 300;
    color: #999; }
  .top .flex-container-1, .top .new .flex-container-2, .new .top .flex-container-2 {
    position: relative;
    margin: 3vh 20vw;
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .top .flex-container-1 :nth-child(1), .top .new .flex-container-2 :nth-child(1), .new .top .flex-container-2 :nth-child(1) {
      width: 15vw;
      height: 15vw;
      z-index: 1; }
    .top .flex-container-1 :nth-child(2), .top .new .flex-container-2 :nth-child(2), .new .top .flex-container-2 :nth-child(2) {
      width: 25vw;
      height: 25vw; }
  .top .trio-1, .top .discover .trio-2, .discover .top .trio-2, .top .discover .trio-3, .discover .top .trio-3 {
    z-index: 2;
    position: absolute;
    top: 63vh;
    right: 0;
    bottom: 0;
    left: 22vw;
    width: 15vw;
    width: 15vw; }
    .top .trio-1 p, .top .discover .trio-2 p, .discover .top .trio-2 p, .top .discover .trio-3 p, .discover .top .trio-3 p {
      font-size: 20px;
      font-weight: bold; }
    .top .trio-1 h4, .top .discover .trio-2 h4, .discover .top .trio-2 h4, .top .discover .trio-3 h4, .discover .top .trio-3 h4 {
      font-size: 12;
      color: #999;
      padding: 2vh 0; }
    .top .trio-1 a, .top .discover .trio-2 a, .discover .top .trio-2 a, .top .discover .trio-3 a, .discover .top .trio-3 a {
      font-weight: bold;
      color: #222;
      border-bottom: solid 2px #222;
      font-size: 12px; }
  .top .trio-2 {
    z-index: 2;
    position: absolute;
    top: 30vh;
    right: 0;
    bottom: 0;
    left: 49vw;
    width: 15vw;
    width: 15vw; }
    .top .trio-2 p {
      font-size: 40px;
      font-weight: bold; }
    .top .trio-2 h4 {
      font-size: 12;
      color: #999;
      padding: 2vh 0; }
    .top .trio-2 a {
      font-weight: bold;
      color: #222;
      border-bottom: solid 2px #222;
      font-size: 12px; }
  .top .trio-3 {
    z-index: 2;
    position: absolute;
    top: 90vh;
    right: 0;
    bottom: 0;
    left: 20vw;
    width: 15vw;
    width: 15vw; }
    .top .trio-3 p {
      font-size: 40px;
      font-weight: bold; }
    .top .trio-3 h4 {
      font-size: 12;
      color: #999;
      padding: 2vh 0; }
    .top .trio-3 a {
      font-weight: bold;
      color: #222;
      border-bottom: solid 2px #222;
      font-size: 12px; }
  .top .trio-4 {
    z-index: 2;
    position: absolute;
    top: 120vh;
    right: 0;
    bottom: 0;
    left: 66vw;
    width: 15vw;
    width: 15vw; }
    .top .trio-4 p {
      font-size: 20px;
      font-weight: bold; }
    .top .trio-4 h4 {
      font-size: 12;
      color: #999;
      padding: 2vh 0; }
    .top .trio-4 a {
      font-weight: bold;
      color: #222;
      border-bottom: solid 2px #222;
      font-size: 12px; }
  .top .flex-container-2 {
    position: relative;
    margin: 10vh 20vw 0;
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .top .flex-container-2 :nth-child(1) {
      width: 25vw;
      height: 25vw;
      margin-left: 5vw; }
    .top .flex-container-2 :nth-child(2) {
      width: 15vw;
      height: 15vw; }

.new h2 {
  padding: 0 0 1vh 20vw;
  font-size: 2em; }

.new h3 {
  padding-left: 20vw;
  font-size: 1em;
  font-weight: 300;
  color: #999; }

.new .flex-container-1, .new .flex-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin: 10vh auto; }
  .new .flex-container-1 img, .new .flex-container-2 img {
    width: 15vw; }
  .new .flex-container-1 p, .new .flex-container-2 p {
    font-weight: bold;
    padding: 10px 0; }
  .new .flex-container-1 h4, .new .flex-container-2 h4 {
    color: #999;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 0; }
  .new .flex-container-1 i, .new .flex-container-2 i {
    font-size: 0.7em;
    color: #999; }
  .new .flex-container-1 .y, .new .flex-container-2 .y {
    color: yellow; }

.new a {
  font-weight: bold;
  color: #222;
  border-bottom: solid 2px #222;
  font-size: 12px; }

.new a {
  display: block;
  width: 90px;
  margin: 5vh auto;
  font-size: 14px; }

.countdown {
  padding-left: 20vw;
  padding-top: 10vh;
  height: 70vh;
  width: 100%;
  background-image: url(../images/deals_image.jpg);
  background-size: cover; }
  .countdown .deal {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0; }
  .countdown h4 {
    font-weight: bold;
    font-size: 2em;
    padding: 10px 0; }
  .countdown .price {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0; }
    .countdown .price span {
      text-decoration: line-through;
      color: #999;
      padding-left: 10px; }
  .countdown .discount, .countdown .stock {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 40px;
    background-color: #f68773;
    border-radius: 3px;
    width: 80px;
    height: 20px;
    color: white;
    font-weight: bold; }
  .countdown .stock {
    background-color: green;
    margin-left: 10px; }
  .countdown .timer, .countdown .numbers {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .countdown .timer p, .countdown .numbers p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 50px;
      background-color: white;
      color: #999; }
  .countdown .numbers {
    font-size: 40px; }
    .countdown .numbers p {
      color: black; }
  .countdown a {
    font-weight: bold;
    color: #222;
    border-bottom: solid 2px #222;
    font-size: 12px; }
  .countdown a {
    color: black;
    display: block;
    width: 78px;
    margin: 6vh 0; }

.latest {
  position: relative;
  margin-top: 5vh;
  height: 95vh;
  position: relative; }
  .latest .mini-flex {
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border-bottom: solid 1px #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 76vh;
    right: 0;
    bottom: 0;
    left: 53vw; }
    .latest .mini-flex .mail {
      position: absolute;
      top: 12px;
      right: 0;
      bottom: 0;
      left: 15px;
      z-index: 2; }
    .latest .mini-flex p {
      position: absolute;
      top: 12px;
      right: 0;
      bottom: 0;
      left: 300px;
      z-index: 2; }
    .latest .mini-flex input {
      position: absolute;
      top: 5px;
      right: 0;
      bottom: 0px;
      left: 40px;
      z-index: 2;
      width: 300px;
      height: 30px;
      border: none; }
      .latest .mini-flex input:focus {
        outline: none; }
  .latest h2 {
    padding: 10vh 0 1vh 20vw;
    font-size: 2em; }
  .latest h3 {
    padding-left: 20vw;
    font-size: 1em;
    font-weight: 300;
    color: #999; }
  .latest .more {
    position: absolute;
    top: 15vh;
    right: 0;
    bottom: 0;
    left: 73%;
    font-weight: bold;
    display: block;
    width: 85px;
    height: 15px;
    color: #222;
    border-bottom: solid 2px #222;
    font-size: 12px; }
  .latest .flex-container {
    margin: 5vh 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .latest .flex-container div {
      width: 18vw; }
      .latest .flex-container div img {
        width: 18vw; }

.follow {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .follow img {
    width: 14%;
    height: 30vh; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 15vh 20vw 10vh;
  height: 40vh; }
  footer .big {
    width: 19vw; }
  footer .media, footer .card {
    text-align: center;
    font-size: 1.5em; }
  footer div {
    width: 10vw; }
    footer div p, footer div i {
      padding: 10px 0;
      color: #999;
      font-size: 0.9em; }
      footer div p i, footer div i i {
        padding-right: 15px; }
    footer div h4 {
      padding-bottom: 15px;
      font-size: 16px;
      font-weight: bold; }
