$graytext: #999;
$red: #f68773;
$black: #222;
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../assets/scss/variables';
@import '../assets/scss/mixin';
@import '../assets/scss/header';
@import '../assets/scss/footer';



html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body :not(footer, header){
  	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	font-family: 'Roboto', sans-serif;

}

main{
	overflow: hidden;
}

header{
	font-size: 1vw;
}

section{
	margin-top: 8%;
	margin-bottom: 8%;
}

hr{
	border: 1px;
	border-top: 1.5px solid rgba(0, 0, 0, 0.1);
}

p{
	font-size: 0.9em;
	

}

.jumbotron{
	text-align: center;
	margin-bottom: 0;
	padding: 3rem 2rem;
	background-color: #3C3C3C;
	color: white;
}

.root{
	display: flex;
	background-color: #F2EDE9;
	font-size: 1vh;
	font-weight: 300;
	padding: 1% 1% 1% 15%;

	p{
		color: $graytext;
	}

	ul{
		padding-inline-start: 27px;
	}
}

.positionright{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 0;

	div:first-child{
		width: 50%;
	}
	

	h1{
		font-size: 50%;
		font-weight: 400;
		color: $red;
		text-transform: uppercase;
	}

	h2{
		font-size: 2.5em;
	}

	p{
		color: $graytext;
	}

	.startParagraphe{
		display: flex;
	}
	
	hr{
		width: 30%;
		margin: 12px 51px 0 0;
	}
}

.section1{
	width: 37em;
	margin-left: 5%;
	position: relative;
	left: 32px;

}
    

.position{
	 display: flex;
	 align-items: center;
	 justify-content: space-between;

	 img{
	 	width: 48%;
	 }
}

.positiontext{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	position: relative;
	top: 20px;

	i{
		position: relative; 
		top: -24px;
		z-index: 0;
		opacity: 0.3;
		color: $graytext;
		font-style: italic;
	}

	blockquote{
		font-style: italic;
	}

	hr{
		width: 10%;
		margin: 20px 0 0 0;
	}
}

.quotePosition{
	position: relative;
	top: -67px;
	left: 5px;
	z-index: 1;
}

.blockquote{
	font-size: 1.5em;
	margin-bottom: 1.5em;
	height: 8em;

}

blockquote{

	footer {
		font-size: 40%;
		font-style: normal;
		height: 4em;
		display: flex;
		flex-direction: column;
		margin: 0;
	}
}

.name{
	text-transform: uppercase;
	color: $red;
}

.textsection3{
	display: flex;
	flex-direction: column;
	width: 40%;

	p{
		color: $graytext;
	}

	h1{
		margin-bottom: 0.6em;
		font-size: 2em;
	}
}

.historique{
	display: flex;
	flex-direction: column;
	width: 40%;
}

.historiqueFirst{
	display: flex;
	justify-content: space-between;

	p:first-child{
		margin: 0;
		font-weight: bold;
	}

	p:last-child{
		color: $graytext;
	}

	div{
		width: 50%;
	}
}

.historiqueEnd{
	display: flex;
	justify-content: space-between;

	p:first-child{
		margin: 0;
		font-weight: bold;
	}

	p:last-child{
		color: $graytext;
	}

	div{
		width: 50%;
	}
}

.textVideo{
	position: relative;
	top: 10em;
	z-index: 1;
	text-align: center;

	p{
		font-size: 1.5em;
		margin: 0;
		color: white;
		font-weight: normal;
	}

	span{
		font-size: 2em;
		line-height: 75%;
		text-transform: uppercase;
		font-weight: bold;
	}

	img{
		position: relative;
		top: 1em;
		left: 0%;
	}
}

.video{
	position: relative;
	top: -90px;
	left: 0px;
	z-index: 0;
	width: 100%;
}


.valeur{
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 font-size: 0.7em;

	 p:last-child{
		color: $graytext;
	}
}

.icon{
	display: flex;
	width: 20%;

	p{
		margin: 0;	}

	i{
		padding-top: 20%;
	}
}

.positionIcon{
	margin-right: 12%;
	color: $red;
	
	
}

.section6{
	display: flex;
	flex-direction: column;
}

.titlesection6{
	font-size: 1.4em;
	padding: 0 18%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.textsection6{
	display: flex;
	justify-content: space-between;
	color: $graytext;

	 p{
		width: 48%;
	}
}

.Leader{
	text-align: center;

	h1{
		margin-top: 5%;
		margin-bottom: 5%;
		font-size: 2em;
	}
}

.members{
 display: flex;
 justify-content: space-between;
}

.imgLeader:hover{
		opacity: 0.5;
}

.hover{
	position: relative;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 20px 0 20px 0;
  text-align: center;
 }

.hover:hover .overlay {
  opacity: 1;
}

.partenair{
	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	margin-top: 10%;
 	background-color: #F8F8F8;
 	padding: 8% 6%;
 	width: 190%;
 	position: relative;
 	right: 50%;

 	img{
 		margin: 3.5em 2em;
 		width: 4em;
 		height: 1.5em;
 	}

 	span{
 		background-color: white;
 	}
}

.gray{
	color: $graytext;
}


// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width: 575px){ 

		.positionright{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-right: 0;

		div:first-child{
			width: 100%;
		}
		

		h1{
			font-size: 50%;
			font-weight: 400;
			color: $red;
			text-transform: uppercase;
		}

		h2{
			font-size: 1.5em;
		}

		p{
			color: $graytext;
		}

		.startParagraphe{
			display: flex;
		}
		
		hr{
			width: 30%;
			margin: 12px 51px 0 0;
		}
	}

.section1{
	width: 37em;
	margin-left: 5%;
	
	position: relative;
	left: 110px;
    
}

.blockquote {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    height: 6em;
}

.blockquote footer {
    font-size: 40%;
    font-style: normal;
    height: 4em;
    display: flex;
    flex-direction: column;
    margin: 0 7vw 0 0;
}

.textsection3 {
	width: 100%;

	h1 {
    font-size: 1.5em;
	}
}



.position {
	display: block;

}

.positiontext {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    top: 20px;
}

.historique {
    width: 100%;
}

.sectionVideo{
	height: 45vw;
}

.textVideo {
    position: relative;
    top: 6em;
    font-size: 50%;

    img{
    	width: 10%;
    	top: 2em;
    }

}

.partenair img {
    width: 3em;
}

}


// // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

	.positionright{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-right: 0;

		div:first-child{
			width: 100%;
		}
			


		h1{
			font-size: 50%;
			font-weight: 400;
			color: $red;
			text-transform: uppercase;
		}

		h2{
			font-size: 1.5em;
		}

		p{
			color: $graytext;
		}

		.startParagraphe{
			display: flex;
		}
			
		hr{
			width: 30%;
			margin: 12px 51px 0 0;
		}
	}

	.section1{
		width: 37em;
		margin-left: 5%;
		
		position: relative;
		left: 110px;
	    
	}

	.blockquote {
	    font-size: 1.5em;
	    margin-bottom: 1.5em;
	    height: 6em;
	}

	.blockquote footer {
	    font-size: 40%;
	    font-style: normal;
	    height: 5em;
	    display: flex;
	    flex-direction: column;
	    margin: 0 7vw 0 0;
	}

	.textsection3 {
		width: 100%;

		h1 {
	    font-size: 1.5em;
		}
	}

	.position {
		display: block;

		img{
			width: 100%;
		}
	}

	.positiontext {
	    display: flex;
	    flex-direction: column;
	    width: 100%;
	    height: 100%;
	    position: relative;
	    top: 20px;
	}

	.historique {
	    width: 100%;
	}

	.sectionVideo{
		height: 45vw;
	}

	.textVideo {
	    position: relative;
	    top: 6em;
	    font-size: 50%;

	    img{
	    	width: 10%;
	    	top: 2em;
	    }

	}

	.partenair img {
	    width: 3em;
	}

}


// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	.positionright {
		div:first-child {
    		width: 90%;
		}

		h2 {
    		font-size: 2em;
		}

	}

	.position{
		display: flex;
	    align-items: center;
    	justify-content: space-between;
	}

	.blockquote {
		height: 7em;

		footer {
			height: 5em;
			margin: 1vh 0vw 10vh;
		}
	}
	.positiontext{
		margin-left: 1%;
	}

	.sectionVideo {
    	height: 36vw;
	}

	.textVideo {
    	top: 11em;
    }
}



// // Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.position{
		display: flex;
	    align-items: center;
    	justify-content: space-between;
	}

	blockquote{

		footer{
			margin: 1vh 0vw 10vh;
			height: 4em;
		}
	}
	
}

